<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">     
        <form id="signup-form">
            <h1>Sign Up</h1>   
            <div>
                <label for="username">Username</label>
                <input type="text" name="username" id="username" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="confirm_password">Re-Enter Password</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    <script>
        async function handleSignUp(event) {
            event.preventDefault(); 

            const form = event.target;
            const formData = new FormData(form); 

            try {
                const response = await fetch('/signup', {
                    method: 'POST',
                    body: formData,
                    credentials: 'include' 
                });

                if (response.ok) {
                    const responseData = await response.json();
                    alert('Signup successful!'); 
                    window.location.href = '/';
                } else {
                    const errorData = await response.json();
                    alert(`Signup failed! ${errorData.detail}`);
                }
            } catch (error) {
                console.error('Error:', error);
                alert('An error occurred. Please try again later.');
            }
        }

        // Add event listener to the form for submit event
        const signupForm = document.getElementById('signup-form');
        signupForm.addEventListener('submit', handleSignUp);
    </script>
</body>
</html>
